header {
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 16pt;
    font-family:  Gill Sans, sans-serif;
}

img {
    margin-right: 100px;
    width: 190px;
    height: 150px;    
}

li{
    display: inline-block;
    list-style-type: none;
}

nav {
    color: 	#6959CD;
    background-color: #8B0000;
    text-decoration: none;
    font-size: 16pt;
    font-family:  Gill Sans, sans-serif;
    padding: 20px;
    position: static;
    border-radius: 20px;
}

main{
    display: flex;
    height: 60vh;
}

#page {
    background-color: #FF00FF;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    height: 95%;
    width: 73%;
    display: block;
}

#pepe{
    background-color: #0000CD;
    padding: 20px;
    border-radius: 20px;
    width: 20%;
    height: 75%;
    margin-left: 77%;
}

#pipi {
    background-color:#00a6fb;
    width: 92%;
    height: 24%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

#popo {
    border-radius: 20px;
    background-color: #00FF7F;
    padding: 20px;
    margin: 20px 0px 0px 0px;
    height: 95%;
    width: 20%;
}

#divisao {
    background-color: #00FFFF;
    width: 92%;
    height: 38%;
    padding: 20px;
    border-radius: 20px;
}

footer {
    background: #1C1C1C;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    width: 98%;
}

footer p {
    font-size: 16pt;
    font-family: 'Comic Sans MS', sans-serif;
}
